.TextTruncate-canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

.TextTruncate-truncated {
  height: auto;
  opacity: 1;
  transition: 1s opacity;
}

.TextTruncate--clamped .TextTruncate-truncated {
  overflow: hidden;
  opacity: 0;
  font-size: 0;
}
